@import url("font.css");
body{
    padding: 0;
    margin: 0;
    font-family: "Custom";
    background-color: #1b1b1b;
}



/* header */
.header{
    width: 50%;
    height: 15vh;
    margin-left: 25vw;
}
.header__title{
    display: flex;
    justify-content: space-between;
}
.header__title-nickname{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header__title-top{
    color: #FFFBE0;
}
.header__title-bottom{
    color: #b3e6d0;
    margin-top: -1.5rem;
    margin-left: 1.8rem;
}
.header__title-name{
    display: flex;
    align-items: center;
}
.header__name{
    color: #FFFBE0;
    font-size: 1.8rem;
}
.header__line{
    width: 100%;
    border: solid 0.1px rgb(121, 121, 121);
    opacity: 0.7;
}






/* main sectionInfo */
main{
    width: 50%;
    height: 100%;
    margin-left: 25vw;
}
.main__sectionInfo{
    display: flex;
    justify-content: space-between;
}
.main__info{
    display: flex;
    flex-direction: column;
}
.main__info-title{
    color: #FFFBE0;
    font-size: 1.5rem;
}
.main__info-aboutMe{
    color: #FFFBE0;
    font-size: 1.5rem;
    margin-top: 0rem;
}
.golang{
    color: #b3e6d0;
    font-weight: bold;
}
.main__contacts{
    display: flex;
    flex-direction: column;
    margin-top: 13vh;
}
.main__contacts-title{
    font-size: 2rem;
    color: #b3e6d0;
}
.main__contacts-ul{
    display: flex;
    flex-direction: column;
    color: #FFFBE0;
    margin-top: -1.2rem;
}
.main__contacts-a{
    color: #b3e6d0;
    text-decoration: none;
    display: inline-block;
    position: relative;
    transition: all 0.2s ease-in-out;
    font-size: 1.15rem;
}
.main__contacts-li{
    margin-top: 0.4rem;
    font-size: 1.15rem;
}
.main__contacts-a::after{
    content: '';
    position: absolute;
    width: 0;
    height: 1px; 
    bottom: -1px; 
    left: 0;
    background: linear-gradient(to right, #8fd1b5, #f0e499);
    transition: all 0.3s ease-in-out;
}
.main__contacts-a:hover::after{
    width: 100%;
}
.main__contacts-a:active{
    transform: scale(0.85);
}



/* sectionStack */
.main__sectionStack{
    display: flex;
    flex-direction: column;
}
.main__stackTitle{
    font-size: 2rem;
    color: #b3e6d0;
    font-weight: bold;
}
.main__img-cont{
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}
.main__img-cont2{
    display: flex;
    justify-content: space-between;
    margin-top: 5rem;
}
.main__imgPostgres{
    user-select: none;
    width: 10rem;
    height: 10rem;
    margin-top: 7rem;
}
.main__imgDocker{
    user-select: none;
    width: 10rem;
    height: 10rem;
    margin-top: 2rem;
}
.main__imgGraf{
    user-select: none;
    width: 10rem;
    height: 10rem;
}
.main__imgGit{
    user-select: none;
    width: 9rem;
    height: 9rem;
}
.main__imgGolang{
    user-select: none;
    width: 15rem;
    height: 10rem;
    margin-top: -7.5rem;
}
.main__imgRedis{
    user-select: none;
    width: 9rem;
    height: 9rem;
}
.main__imgGRPC{
    user-select: none;
    width: 20rem;
    height: 10rem;
    margin-top: -7.5rem;
}
.main__line{
    width: 100%;
    border: solid 0.1px rgb(121, 121, 121);
    opacity: 0.7;
    margin-top: 3rem;
}




/* main sectionProject */
.main__projects-title{
    font-size: 2rem;
    color: #b3e6d0;
    font-weight: bold;
    margin-top: 3rem;
}
.main__projects-sqlCont{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(20, 22, 41);
    opacity: 04;
    height: 3.5rem;
    border-radius: 5px;
}
.main__projects-sqlTitle{
    color: #fff9d1;
    font-size: 1.5rem;
}
.main__projects-word{
    color: #E62CFF;
}
.main__projects-FRCont{
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}
.main__projects-FRTitle{
    display: flex;
}
.main__projects-imgFR{
    height: 6rem;
    width: 6rem;
    user-select: none;
    margin-left: -0.5rem;
}
.main__projects-titleFR{
    font-size: 1.5rem;
    margin-top: 2rem;
    color: #8fd1b5;
}
.main__projects-aboutFR{
    margin-top: 0px;
    color: #fff9d1;
    font-size: 1.5rem;
}
.main__projects-imgJWT{
    height: 5rem;
    width: 5rem;
    user-select: none;
}
.main__projects-JWTCont{
    display: flex;
    flex-direction: column;
    margin-top: 4rem;
}
.main__projects-titleJWT{
    font-size: 1.5rem;
    margin-top: 2rem;
    color: #8fd1b5;
    margin-left: 0.8rem;
}
.main__projects-JWTTitle{
    display: flex;
}
.main__projects-aboutJWT{
    margin-top: 0px;
    color: #fff9d1;
    font-size: 1.5rem;
}
.main__projects-AroundCont{
    display: flex;
    flex-direction: column;
    margin-top: 4rem;
}
.main__projects-AroundTitle{
    display: flex;
}
.main__projects-imgAround{
    height: 5rem;
    width: 5rem;
    user-select: none;
}
.main__projects-imgCont{
    background-color: #cfcec5;
    border-radius: 5px;
}
.main__projects-titleAround{
    font-size: 1.5rem;
    color:#b3e6d0;
    margin-left: 1rem;
}
.main__projects-aboutAround{
    font-size: 1.5rem;
    color:#fff9d1;
    margin-top: 0.5rem;
}









/* adaptive */
@media (min-width: 1200px) and (max-width: 1440px) {
    /* header */
    .header__name{
        font-size: 1.5rem;
    }
    .header__title-top{
        font-size: 1.5rem;
    }
    .header__title-bottom{
        font-size: 0.8rem;
    }




    /* main Welcome + contacts */
    .main__info-title{
        font-size: 1.2rem;
        margin-top: -1rem;
    }
    .main__info-aboutMe{
        color: #FFFBE0;
        font-size: 1.2rem;
        margin-top: 0rem;
    }
    .golang{
        font-size: 1.3rem;
    }
    /* contacts */
    .main__contacts{
        margin-top: 13vh;
    }
    .main__contacts-title{
        font-size: 1.4rem;
        color: #b3e6d0;
    }
    .main__contacts-ul{
        margin-top: -1rem;
    }
    .main__contacts-a{
        font-size: 1rem;
    }
    .main__contacts-li{
        margin-top: 0.3rem;
        font-size: 1rem;
    }

    /* stack */
    .main__stackTitle{
        font-size: 1.5rem;
    }
    .main__imgPostgres{
        width: 7rem;
        height: 7rem;
        margin-top: 7rem;
    }
    .main__imgDocker{
        width: 7rem;
        height: 7rem;
        margin-top: 2rem;
    }
    .main__imgGraf{
        width: 7rem;
        height: 7rem;
    }
    .main__imgGit{
        width: 7rem;
        height: 7rem;
    }
    .main__imgGolang{
        width: 12rem;
        height: 8rem;
        margin-top: -7.5rem;
    }
    .main__imgRedis{
        width: 7rem;
        height: 7rem;
    }
    .main__imgGRPC{
        width: 13rem;
        height: 6rem;
        margin-top: -7.5rem;
    }
    .main__projects-title{
        font-size: 1.7rem;
    }
    .main__projects-sqlTitle{
        font-size: 1.3rem;
    }
}








@media (min-width: 1024px) and (max-width: 1199px) {
    /* header */
    .header__name{
        font-size: 1.3rem;
    }
    .header__title-top{
        font-size: 1.3rem;
    }
    .header__title-bottom{
        font-size: 0.7rem;
    }




    /* main Welcome + contacts */
    .main__info-title{
        font-size: 1rem;
        margin-top: -1.7rem;
    }
    .main__info-aboutMe{
        color: #FFFBE0;
        font-size: 1rem;
        margin-top: 0rem;
    }
    .golang{
        font-size: 1.1rem;
    }
    /* contacts */
    .main__contacts{
        margin-top: 8vh;
    }
    .main__contacts-title{
        font-size: 1.2rem;
    }
    .main__contacts-ul{
        margin-top: -1rem;
    }
    .main__contacts-a{
        font-size: 0.7rem;
    }
    .main__contacts-li{
        margin-top: 0.2rem;
        font-size: 0.7rem;
    }


    /* stack */
    .main__stackTitle{
        font-size: 1.3rem;
    }
    .main__imgPostgres{
        width: 5rem;
        height: 5rem;
        margin-top: 4rem;
    }
    .main__imgDocker{
        width: 5rem;
        height: 5rem;
        margin-top: 1.7rem;
    }
    .main__imgGraf{
        width: 5rem;
        height: 5rem;
    }
    .main__imgGit{
        width: 5rem;
        height: 5rem;
    }
    .main__imgGolang{
        width: 10rem;
        height: 7rem;
        margin-top: -7.5rem;
    }
    .main__imgRedis{
        width: 5rem;
        height: 5rem;
    }
    .main__imgGRPC{
        width: 10rem;
        height: 5rem;
        margin-top: -7.5rem;
    }
    .main__projects-title{
        font-size: 1.4rem;
    }
    .main__projects-sqlTitle{
        font-size: 1rem;
    }


    /* projects */
    .main__projects-imgFR{
        height: 5rem;
        width: 5rem;
        margin-left: -0.6rem;
    }
    .main__projects-titleFR{
        font-size: 1.2rem;
        margin-top: 2rem;
    }
    .main__projects-aboutFR{
        font-size: 1.2rem;
    }

    .main__projects-imgJWT{
        height: 4rem;
        width: 4rem;
    }
    .main__projects-titleJWT{
        font-size: 1.2rem;
        margin-top: 2rem;
    }
    .main__projects-aboutJWT{
        font-size: 1.2rem;
    }

    .main__projects-imgAround{
        height: 4rem;
        width: 4rem;
    }
    .main__projects-imgCont{
        height: 4rem;
        width: 4rem;
    }
    .main__projects-titleAround{
        font-size: 1.2rem;
    }
    .main__projects-aboutAround{
        font-size: 1.2rem;
    }
}



@media (min-width: 768px) and (max-width: 1023px){
    /* header */
    .header__name{
        font-size: 1.1rem;
    }
    .header__title-top{
        font-size: 1.1rem;
    }
    .header__title-bottom{
        font-size: 0.6rem;
        margin-top: -1rem;
    }




    /* main Welcome + contacts */
    .main__info-title{
        font-size: 0.8rem;
        margin-top: -0.5rem;
    }
    .main__info-aboutMe{
        color: #FFFBE0;
        font-size: 0.8rem;
        margin-top: 0rem;
    }
    .golang{
        font-size: 0.9rem;
    }
    /* contacts */
    .main__contacts{
        margin-top: 8vh;
    }
    .main__contacts-title{
        font-size: 1rem;
        margin-left: 1rem;
    }
    .main__contacts-ul{
        margin-top: -1rem;
    }
    .main__contacts-a{
        font-size: 0.6rem;
    }
    .main__contacts-li{
        margin-top: 0.2rem;
        font-size: 0.6rem;
    }


    /* stack */
    .main__stackTitle{
        font-size: 1rem;
    }
    .main__imgPostgres{
        width: 3.5rem;
        height: 3.5rem;
        margin-top: 2rem;
    }
    .main__imgDocker{
        width: 3.5rem;
        height: 3.5rem;
        margin-top: 0.5rem;
    }
    .main__imgGraf{
        width: 3.5rem;
        height: 3.5rem;
    }
    .main__imgGit{
        width: 3.5rem;
        height: 3.5rem;
    }
    .main__imgGolang{
        width: 8rem;
        height: 5rem;
        margin-top: -4.5rem;
    }
    .main__imgRedis{
        width: 3.5rem;
        height: 3.5rem;
    }
    .main__imgGRPC{
        width: 7rem;
        height: 3rem;
        margin-top: -4.5rem;
    }
    .main__projects-title{
        font-size: 1.1rem;
    }
    .main__projects-sqlTitle{
        font-size: 0.8rem;
    }
    .main__projects-sqlCont{
        height: 3rem;
    }


    /* projects */
    .main__projects-imgFR{
        height: 3.5rem;
        width: 3.5rem;
        margin-left: -0.6rem;
    }
    .main__projects-titleFR{
        font-size: 1rem;
        margin-top: 1.5rem;
    }
    .main__projects-aboutFR{
        font-size: 0.8rem;
    }

    .main__projects-imgJWT{
        height: 3rem;
        width: 3rem;
    }
    .main__projects-titleJWT{
        font-size: 1rem;
        margin-top: 1.5rem;
    }
    .main__projects-aboutJWT{
        font-size: 0.8rem;
    }

    .main__projects-imgAround{
        height: 3rem;
        width: 3rem;
    }
    .main__projects-imgCont{
        height: 3rem;
        width: 3rem;
    }
    .main__projects-titleAround{
        font-size: 1rem;
    }
    .main__projects-aboutAround{
        font-size: 0.8rem;
    }
}



@media (min-width: 480px) and (max-width: 767px){
    /* header */
    .header{
        width: 65%;
        height: 15vh;
        margin-left: 17.5vw;
    }
    .header__name{
        font-size: 1.1rem;
    }
    .header__title-top{
        font-size: 1.1rem;
    }
    .header__title-bottom{
        font-size: 0.6rem;
        margin-top: -1rem;
    }




    /* main Welcome + contacts */
    main{
        width: 65%;
        height: 100%;
        margin-left: 17.5vw;
    }
    .main__info-title{
        font-size: 0.6rem;
        margin-top: -0.5rem;
    }
    .main__info-aboutMe{
        color: #FFFBE0;
        font-size: 0.6rem;
        margin-top: 0rem;
    }
    .golang{
        font-size: 0.7rem;
    }
    /* contacts */
    .main__contacts{
        margin-top: 8vh;
    }
    .main__contacts-title{
        font-size: 0.8rem;
        margin-left: 1rem;
    }
    .main__contacts-ul{
        margin-top: -1rem;
    }
    .main__contacts-a{
        font-size: 0.5rem;
    }
    .main__contacts-li{
        margin-top: 0.2rem;
        font-size: 0.5rem;
    }


    /* stack */
    .main__stackTitle{
        font-size: 1rem;
    }
    .main__imgPostgres{
        width: 3.5rem;
        height: 3.5rem;
        margin-top: 2rem;
    }
    .main__imgDocker{
        width: 3.5rem;
        height: 3.5rem;
        margin-top: 0.5rem;
    }
    .main__imgGraf{
        width: 3.5rem;
        height: 3.5rem;
    }
    .main__imgGit{
        width: 3.5rem;
        height: 3.5rem;
    }
    .main__imgGolang{
        width: 8rem;
        height: 5rem;
        margin-top: -4.5rem;
    }
    .main__imgRedis{
        width: 3.5rem;
        height: 3.5rem;
    }
    .main__imgGRPC{
        width: 7rem;
        height: 3rem;
        margin-top: -4.5rem;
    }
    .main__projects-title{
        font-size: 1.1rem;
    }
    .main__projects-sqlTitle{
        font-size: 0.8rem;
    }
    .main__projects-sqlCont{
        height: 3rem;
    }


    /* projects */
    .main__projects-imgFR{
        height: 3.5rem;
        width: 3.5rem;
        margin-left: -0.6rem;
    }
    .main__projects-titleFR{
        font-size: 1rem;
        margin-top: 1.5rem;
    }
    .main__projects-aboutFR{
        font-size: 0.8rem;
    }

    .main__projects-imgJWT{
        height: 3rem;
        width: 3rem;
    }
    .main__projects-titleJWT{
        font-size: 1rem;
        margin-top: 1.5rem;
    }
    .main__projects-aboutJWT{
        font-size: 0.8rem;
    }

    .main__projects-imgAround{
        height: 3rem;
        width: 3rem;
    }
    .main__projects-imgCont{
        height: 3rem;
        width: 3rem;
    }
    .main__projects-titleAround{
        font-size: 1rem;
    }
    .main__projects-aboutAround{
        font-size: 0.8rem;
    }
}


@media (min-width: 360px) and (max-width: 479px){
    /* header */
    .header{
        width: 80%;
        height: 15vh;
        margin-left: 10vw;
    }
    .header__name{
        font-size: 0.6rem;
    }
    .header__title-top{
        font-size: 0.6rem;
    }
    .header__title-bottom{
        font-size: 0.5rem;
        margin-top: -0.5rem;
        margin-left: 0rem;
    }




    /* main Welcome + contacts */
    main{
        width: 80%;
        height: 100%;
        margin-left: 10vw;
    }
    .main__info-title{
        font-size: 0.4rem;
    }
    .main__info{
        margin-top: -2rem;
    }
    .main__info-aboutMe{
        color: #FFFBE0;
        font-size: 0.4rem;
        margin-top: 0rem;
    }
    .golang{
        font-size: 0.5rem;
    }
    /* contacts */
    .main__contacts{
        margin-top: 0vh;
    }
    .main__contacts-title{
        font-size: 0.7rem;
        margin-left: 1rem;
    }
    .main__contacts-ul{
        margin-top: -0.7rem;
    }
    .main__contacts-a{
        font-size: 0.4rem;
    }
    .main__contacts-li{
        margin-top: 0.2rem;
        font-size: 0.4rem;
    }


    /* stack */
    .main__stackTitle{
        font-size: 0.8rem;
    }
    .main__imgPostgres{
        width: 2rem;
        height: 2rem;
        margin-top: 1rem;
    }
    .main__imgDocker{
        width: 2rem;
        height: 2rem;
        margin-top: 0.5rem;
    }
    .main__imgGraf{
        width: 2rem;
        height: 2rem;

    }
    .main__imgGit{
        width: 2rem;
        height: 2rem;
    }
    .main__imgGolang{
        width: 4rem;
        height: 3rem;
        margin-top: 0rem;
    }
    .main__imgRedis{
        width: 2rem;
        height: 2rem;
    }
    .main__imgGRPC{
        width: 5rem;
        height: 2rem;
        margin-top: 0rem;
    }
    .main__projects-title{
        font-size: 0.8rem;
    }
    .main__projects-sqlTitle{
        font-size: 0.6rem;
    }
    .main__projects-sqlCont{
        height: 2rem;
    }
    .main__img-cont{
        margin-top: 0.5rem;
    }
    .main__img-cont2{
        margin-top: 1rem;
    }


    /* projects */
    .main__projects-imgFR{
        height: 3rem;
        width: 3rem;
        margin-left: -0.6rem;
    }
    .main__projects-titleFR{
        font-size: 0.8rem;
        margin-top: 1.5rem;
    }
    .main__projects-aboutFR{
        font-size: 0.6rem;
    }

    .main__projects-imgJWT{
        height: 2.5rem;
        width: 2.5rem;
    }
    .main__projects-titleJWT{
        font-size: 0.8rem;
        margin-top: 1.5rem;
    }
    .main__projects-aboutJWT{
        font-size: 0.6rem;
    }

    .main__projects-imgAround{
        height: 2.5rem;
        width: 2.5rem;
    }
    .main__projects-imgCont{
        height: 2.5rem;
        width: 2.5rem;
    }
    .main__projects-titleAround{
        font-size: 0.8rem;
    }
    .main__projects-aboutAround{
        font-size: 0.6rem;
    }
    .main__projects-JWTCont , .main__projects-AroundCont , .main__projects-FRCont{
        margin-top: 2rem;
    }
}